.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
  }

  .icon-login{
    font-size: 70px;
  }
  .login-form-container .form-control {
    width: 250px;
    margin: 20px 0px;

  }
  
  .login-form-container .btn {
    width: 250px;
    margin: 20px 0px;
  }